.group2:hover {
  .group2-hover\:opacity-0 {
    opacity: 0;
  }
  .group2-hover\:opacity-25 {
    opacity: 25;
  }
  .group2-hover\:opacity-50 {
    opacity: 50;
  }
  .group2-hover\:opacity-75 {
    opacity: 75;
  }
  .group2-hover\:opacity-100 {
    opacity: 100;
  }
}